#homepage {
  .banner {
    img {
      width: 100%;
      display: block;
    }
  }
}

.products-container {
  .product {
    border: 1px solid grey;
    border-left: 0px;
    margin-bottom: 30px;
    &.col-sm-offset-3-2 {
      border-left: 1px solid grey;
    }
    .visuel {
      position: relative;
      img {
        width: calc(100% + 30px);
        margin-left: -15px;
      }
      .list-color {
        width: 100%;
        position: absolute;
        bottom: 3%;
        left: 3%;
        height: 15px;
        .color {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 0px;
          border: 1px solid transparent;
          &.active {
            border: 1px solid white;
          }
        }
      }
    }
    .price {
      padding: 10px;
      color: grey;
      font-weight: bold;
      font-family: "LatoLight";
      letter-spacing: 2px;
    }
    .content {
      height: 40px;
      position: relative;
      .title {
        padding: 0;
        padding-top: 10px;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: normal;
        color: #343434;
        text-align: left;
        font-family: "LatoBold";
        letter-spacing: 1px;
        width: calc(100% - 25px);
      }
      .add-product-to-cart {
        display: inline-block;
        height: 40px; width: 40px;
        position: absolute;
        top: 0;
        right : -15px;
        border: 0;
        border-left: 1px solid #707070;
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
        background-image: asset-url("logo/add_cart.png");
      }
    }
  }
}

@media screen and (max-width: 767px){
  .products-container {
    width: 60%;
    margin: auto;
  }
}
@media screen and (max-width: 467px){
  .products-container {
    width: 90%;
    margin: auto;
  }
}
